/* @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;900&display=swap');



:root {
    --color-background: #3a1f13 ;
    --color-foreground: #fef7ce;
    --color-dark: #73948f;
    --color-primary: #ffc800;
    --color-callout: #ea8d04;
    --color-success: #bfcfb7;
    --color-danger:#f43518;
    --color-info: #c5ab95;
    --color-lightest: white;
    --padding: 20px;
    --font-stack: 'Helvetica Neue', sans-serif;
}
 

html {
    font-family: 'Montserrat Alternates';
    background-color: #fef7ce;
    color: #3a1f13;
}

body {
    max-width: 700px;
    margin: auto;
}

/* .github {
    text-decoration: none;
    text-align: right;
} */

.floating-icon {
    position: fixed;
    top: 10px;
    right: calc(50% - 350px - 75px);
    z-index: 1000;
}

.floating-icon img {
    display: block;
    width: 100px;
    height: auto;
}
.header-image{
    width: 100%;
    z-index: 100;
}

header {
    position: relative;
}

.title1 {
    position: absolute;
    top: 5%;
    left: 68%;
    transform: translate(-50%, -50%);
    color: #3a1f13;
    z-index: 105;
    font-size: 50px;
    font-weight: 300;
}

.title2 {
    position: absolute;
    top: 20%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: #3a1f13;
    z-index: 105;
    font-size: 50px;
    font-weight: 300;
}

.subtitle {
    position: absolute;
    top: 35%;
    left: 78%;
    transform: translate(-50%, -50%);
    color: #f43518;
    z-index: 105;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
}

.navbar {
   
   
    text-align: center; 
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border-top: 1px solid #3a1f13;
    border-bottom: 1px solid #3a1f13;;
    width: 100%;
    font-size: larger;
}

.navbar li {
    margin: 0 10px;
    position: relative; 
}

.navbar a {
    color: #3a1f13;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

.navbar a:hover {
   
    background-color:#ffc800 ;
}

section {
   
    padding: 10px;
    margin-top: 10px;
    background-color:#ffffe4; 
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease; 
}

section:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

section > *:first-child {
   
    text-align: center;
    width: 100%;
    font-weight:900;
   
    color: #f43518;
}

#headings h1,
#headings h2,
#headings h3,
#headings h4,
#headings h5,
#headings h6 {
    margin: 20px 0;
    padding: 0 20px;
}

pre {
    overflow: auto; 
    margin: 0;
   
    color: #3a1f13;;

}
.code-container {
    width: 80%;
    margin: 20px auto; 
    overflow: auto;
   
   
    background-color:#adbeaa;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
}

.code-header {
    display: flex;
    justify-content: end;
    padding: 5px;
}

.language-label {
    font-weight: bold;
}

.copy-button, button {
    cursor: pointer;
    background-color:#f7c108;
    color: #3a1f13;
    /* background-color:#3a1f13;
    color: #ffffff; */
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.warning-button{
    background-color:#f43518;
    color: #ffffff;
}

.go-button{
    background-color:#adbeaa;
    color: #ffffff;
}

a{
    color: #73948f;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color:#c5ab95;
}

label {
    display: block;
    margin-bottom: 15px;
}

label span {
    display: block;
    margin-bottom: 5px;
    font-weight: bold; 
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
    height: 100px;
}

form > div {
    display: flex;
    flex-direction: row;
}

.small-header-image{
    max-width: 100px;
    height: auto;
    margin: 0;
    padding: 0;
    align-self: center;
    justify-self: center;
    border-radius: 50%;
}

.color-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.color-grid > div {
    transition: background-color 0.3s ease; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 5px;
    padding: 10px
}

.color-grid > div :hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.page-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page-footer li {
    list-style: none;
}

